@font-face {
  font-family: "Montserrat";
<<<<<<< HEAD
  src: url('../fonts/Montserrat-Thin.ttf');
=======
  src: url('fonts/Montserrat-Thin.ttf');
>>>>>>> master
  font-weight: 100;
}
@font-face {
  font-family: "Montserrat";
<<<<<<< HEAD
  src: url('../fonts/Montserrat-Light.ttf');
=======
  src: url('fonts/Montserrat-Light.ttf');
>>>>>>> master
  font-weight: 300;
}
@font-face {
    font-family: "Montserrat";
<<<<<<< HEAD
    src: url('../fonts/Montserrat-Regular.ttf');
=======
    src: url('fonts/Montserrat-Regular.ttf');
>>>>>>> master
    font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
<<<<<<< HEAD
  src: url('../fonts/Montserrat-Medium.ttf');
=======
  src: url('fonts/Montserrat-Medium.ttf');
>>>>>>> master
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
<<<<<<< HEAD
  src: url('../fonts/Montserrat-SemiBold.ttf');
=======
  src: url('fonts/Montserrat-SemiBold.ttf');
>>>>>>> master
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
<<<<<<< HEAD
  src: url('../fonts/Montserrat-Bold.ttf');
=======
  src: url('fonts/Montserrat-Bold.ttf');
>>>>>>> master
  font-weight: 700;
}


