header {
  display: flex;
  justify-content: space-between;

  .logo {
    margin-top: 40px;
    margin-left: 50px;
  }

  .manage-panel {
    margin-top: 56px;
    margin-right: 43px;
    display: flex;

    input {
      margin-left: 30px;
    }
  }
}
