@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Light.ttf");
  font-weight: 300;
}
header {
  height: 45px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  transition: height 0.4s linear, background-color 0.5s cubic-bezier(0.32, 0.08, 0.24, 1);
}

.header-container {
  position: relative;
  width: 100%;
  display: flex;
}

.menu {
  width: 100%;
}

.modal-header {
  height: 100vh;
  overflow-y: scroll;
  background-color: black;
}

.logo {
  position: absolute;
  left: 50%;
  width: 16px;
  height: 44px;
  background-image: url("../img/apple-logo.svg");
  background-repeat: no-repeat;
}

.shopping-bag {
  position: absolute;
  left: calc(100% - 37px);
  width: 17px;
  height: 47px;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  background-image: url("../img/bag.svg");
  background-repeat: no-repeat;
}

.shopping-bag_opacity-0 {
  opacity: 0;
}

.menu-icon {
  margin-top: 8px;
  margin-left: 12px;
  position: relative;
  width: 30px;
  height: 30px;
  opacity: 0.8;
}
.menu-icon:hover {
  cursor: pointer;
  opacity: 1;
}

.menu-icon__top,
.menu-icon__bottom {
  position: absolute;
  left: 7px;
  width: 17px;
  height: 1px;
  background: #fff;
  transition: transform 0.2s cubic-bezier(0.34, 0.85, 0.85, 0.42);
}

.menu-icon__top {
  top: 10px;
}

.menu-icon__bottom {
  top: 16px;
}

.menu-icon__top_rotate45deg {
  top: 12px;
  transform: rotate(45deg);
}

.menu-icon__bottom_rotate-45deg {
  top: 12px;
  transform: rotate(-45deg);
}

.dropdown-menu {
  padding: 0;
  margin-top: 10px;
  display: none;
}

.dropdown-menu__search {
  padding: 0 10px 15px 10px;
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.dropdown-menu__search input {
  padding-left: 32px;
  height: 36px;
  width: calc(100% - 30px);
  border: none;
  border-radius: 8px;
  background-color: #1d1d1f;
  transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 14px 17px;
  background-position: 9px 9px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 17px;
  color: white;
}
.dropdown-menu__search input::placeholder {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 17px;
  color: #6e6e73;
}

.cancel-btn {
  margin-left: 15px;
  display: none;
  align-items: center;
  border: none;
  background-color: black;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 17px;
  color: #2997ff;
}

.dropdown-menu__item {
  margin: 0 40px;
  height: 44px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.dropdown-menu__item a {
  text-decoration: none;
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}
.dropdown-menu__item:last-of-type {
  border-bottom: none;
}

.dropdown-menu__item_animation-first-forward {
  animation-duration: 0.5s;
  animation-name: firstItemAnimationForward;
}

@keyframes firstItemAnimationForward {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: 20px;
    opacity: 0;
  }
}
.dropdown-menu__item_animation-forward {
  animation-duration: 0.5s;
  animation-name: itemAnimationForward;
}

@keyframes itemAnimationForward {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.dropdown-menu__item_animation-first-back {
  animation-duration: 0.5s;
  animation-name: firstItemAnimationBack;
}

@keyframes firstItemAnimationBack {
  from {
    margin-top: 20px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
.dropdown-menu__item_animation-back {
  animation-duration: 0.5s;
  animation-name: itemAnimationBack;
}

@keyframes itemAnimationBack {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropdown-menu__search_raise-up {
  animation-duration: 0.5s;
  animation-name: raise-up;
}

@keyframes raise-up {
  from {
    margin-top: 48px;
  }
  to {
    margin-top: 10px;
  }
}
.dropdown-menu__search_fall-down {
  animation-duration: 0.5s;
  animation-name: fall-down;
}

@keyframes fall-down {
  from {
    margin-top: 10px;
  }
  to {
    margin-top: 52px;
  }
}
.search-icon-container {
  display: none;
}

.search-icon {
  width: 32px;
  height: 32px;
  display: block;
  border: none;
  background-color: transparent;
  background-image: url("img/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 18px 44px;
  background-position: 0 -5px;
}
.search-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

main {
  background-color: #fbfbfd;
}

.shop-online-notification {
  padding: 5px 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.shop-online-notification__text {
  width: 82%;
  max-width: 600px;
  text-align: center;
  font-family: "RobotoSlab", serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
}
.shop-online-notification__text a {
  text-decoration: none;
  color: #06c;
}

.advertising {
  display: flex;
  flex-direction: column;
}

.advertising-item {
  position: relative;
  height: 548px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.advertising-item__header {
  margin-bottom: 0;
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 32px;
  color: #1d1d1f;
}

.advertising-item__subhead {
  margin-top: 15px;
  margin-bottom: 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 19px;
  color: #1d1d1f;
}

.advertising-item__header_white,
.advertising-item__subhead_white {
  color: #f5f5f7;
}

.advertising-item__pricing-info {
  max-width: 225px;
  font-family: "RobotoSlab", serif;
  font-weight: 400;
  font-size: 16px;
  color: #86868b;
}
.advertising-item__pricing-info span {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.cta-links {
  display: flex;
}

.cta-links__learn,
.cta-links__buy {
  color: #0066cc;
  text-decoration: none;
  font-family: "RobotoSlab", serif;
  font-weight: 400;
  font-size: 21px;
  color: #0066cc;
}
.cta-links__learn:active,
.cta-links__buy:active {
  text-decoration-color: #0066cc;
  text-decoration: underline;
}
.cta-links__learn::after,
.cta-links__buy::after {
  margin-left: 5px;
  display: inline-block;
  content: " >";
}

.cta-links__buy {
  margin-left: 10px;
}

.advertising-item__img-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 2500px;
  height: 548px;
  overflow: hidden;
  z-index: -1;
}

.advertising-item__img {
  position: absolute;
  left: 50%;
  width: 734px;
  transform: translateX(-50%);
}

@media screen and (min-width: 767px) {
  header {
    background-color: rgba(0, 0, 0, 0.75);
    transition-property: none;
  }

  .header-container {
    max-width: 1000px;
  }
  .header-container .dropdown-menu {
    margin-top: 0;
    padding-left: calc(5% + 40px);
    padding-right: 60px;
    display: flex;
  }

  .menu-icon {
    display: none;
  }

  .logo {
    left: 5%;
  }

  .dropdown-menu__item {
    margin: 0 auto;
    border-bottom: none;
  }
  .dropdown-menu__item a {
    font-size: 14px;
    color: #f5f5f7;
    opacity: 0.8;
  }

  .dropdown-menu__search {
    display: none;
  }

  .search-icon-container {
    display: flex;
  }

  .advertising-item {
    height: 650px;
  }

  .advertising-item__header {
    font-size: 56px;
  }

  .advertising-item__subhead {
    font-size: 28px;
  }

  .advertising-item__img-wrapper {
    top: 15px;
    height: 617px;
  }

  .advertising-item__img {
    width: 3010px;
  }
}
* {
  box-sizing: border-box;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

body {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
