@import './mixins';

main {
  background-color: #fbfbfd;
}

.shop-online-notification {
  padding: 5px 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfd;
}

.shop-online-notification__text {
  width: 82%;
  max-width: 600px;
  text-align: center;

  @include connectFont('RobotoSlab', 400, 14px, rgb(0, 0, 0));

  a {
    text-decoration: none;
    color: #06c;
  }
}

.advertising-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advertising-item__header {
  margin-bottom: 0;
  @include connectFont('Roboto', 600, 42px, rgb(29, 29, 31));
}

.advertising-item__subhead {
  margin-top: 15px;
  margin-bottom: 0;
  @include connectFont('Roboto', 400, 19px, rgb(29, 29, 31));
}

.advertising-item__pricing-info {
  max-width: 400px;
  @include connectFont('RobotoSlab', 400, 16px, rgb(134, 134, 139));
}

.cta-links {
  display: flex;
}

.cta-links__learn,
.cta-links__buy {
  color: rgb(0, 102, 204);
  text-decoration: none;
  @include connectFont('RobotoSlab', 400, 21px, rgb(0, 102, 204));

  &:active {
    text-decoration-color: rgb(0, 102, 204);
    text-decoration: underline;
  }

  &::after {
    margin-left: 5px;
    display:inline-block;
    content: ' >';
  }
}

.cta-links__buy {
  margin-left: 10px;
}


.advertising-item__img-wrapper {
  position: absolute;
  width: 100%;
  height: 548px;
  overflow: hidden;
  z-index: -1;
}

.advertising-item__img {
  position: absolute;
  left: 50%;
  width: 734px;
  height: 548px;
  transform: translateX(-50%);
}

