@import './mixins';

main {
  background-color: #fbfbfd;
}

.shop-online-notification {
  padding: 5px 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.shop-online-notification__text {
  width: 82%;
  max-width: 600px;
  text-align: center;

  @include connectFont('RobotoSlab', 400, 14px, rgb(0, 0, 0));

  a {
    text-decoration: none;
    color: #06c;
  }
}

.advertising-heroes {
  display: flex;
  flex-direction: column;
}

.advertising-item {
  position: relative;
  height: 548px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.advertising-item__header {
  margin-bottom: 0;
  @include connectFont('Roboto', 600, 32px, rgb(29, 29, 31));
}

.advertising-item__header_apple-watch {
  width: 90%;
  height: 45px;
  @include setBackgroundImg(
    '../img/promo_logo_watch_series_6_lte__el1kwqt2v52e_small_2x.png',
    $width: 117px,
    $height: 45px,
    $top: 50%,
    $left: 50%
    );
}

.advertising-item__header_fitness {
  width: 90%;
  height: 27px;
  @include setBackgroundImg(
    '../img/logo__fitness_medium_2x.png',
    $width: 140px,
    $height: 27px,
    $top: 50%,
    $left: 50%
    );
}

.advertising-item__header_card {
  width: 90%;
  height: 29px;
  @include setBackgroundImg(
    '../img/card_small_2x.png',
    $width: 111px,
    $height: 29px,
    $top: 50%,
    $left: 50%
    );
}

.advertising-item__subhead {
  margin-top: 15px;
  margin-bottom: 0;
  @include connectFont('Roboto', 400, 19px, rgb(29, 29, 31));
}

.advertising-item__subhead_airpods {
  margin-top: 40px;
  max-width: 290px;
  @include connectFont('Roboto', 500, 32px, rgb(29, 29, 31));
}

.advertising-item__header_white,
.advertising-item__subhead_white {
  color: rgb(245, 245, 247);
}

.advertising-item__pricing-info {
  max-width: 225px;
  @include connectFont('RobotoSlab', 400, 16px, rgb(134, 134, 139));

  span {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
}

.cta-links {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  & > * {
    margin-left: 10px;
  }
}

.cta-links_fitness {
  width: 250px;
  margin-left: -10px;
}

.cta-links__item {
  color: rgb(0, 102, 204);
  text-decoration: none;
  @include connectFont('RobotoSlab', 400, 17px, rgb(0, 102, 204));

  &:active {
    text-decoration-color: rgb(0, 102, 204);
    text-decoration: underline;
  }

  &::after {
    margin-left: 5px;
    display:inline-block;
    content: ' >';
  }
}

.cta-links__buy {
  margin-left: 10px;
}


.advertising-item__img-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 2500px;
  height: 548px;
  overflow: hidden;
  z-index: -1;
}

.advertising-item__img_fitness {
  top: 263px;
  height: 285px;
}

.advertising-item__img {
  position: absolute;
  left: 50%;
  width: 734px;
  transform: translateX(-50%);
}

.advertising-promo {
  display: flex;
  flex-direction: column;

  & > * {
    margin-top: 10px;
  }
}
