@media screen and (min-width: 767px) {
  // header
  header {
    background-color: rgba(0, 0, 0, 0.75);
    transition-property: none;
  }

  .header-container {
    max-width: 1000px;

    .dropdown-menu {
      margin-top: 0;
      padding-left: calc(5% + 40px);
      padding-right: 60px;
      display: flex;
    }
  }

  .menu-icon {
    display: none;
  }

  .logo {
    left: 5%;
  }

  .dropdown-menu__item {
    margin: 0 auto;
    border-bottom: none;

    a {
      font-size: 14px;
      color: rgb(245, 245, 247);
      opacity: 0.8;
    }
  }

  .dropdown-menu__search {
    display: none;
  }

  .search-icon-container {
    display: flex;
  }

  // menu

  .advertising-item__header {
    font-size: 56px;
  }

  .advertising-item__subhead {
    font-size: 28px;
  }

  .advertising-item__img {
    width: 3010px;
  }
}
