header h1 {
  font-size: 40px;
  font-family: serif;
  color: rgb(235, 83, 83);
}
a {
  font-size: 25px;
}
li {
  margin-top: 10px;
}
<<<<<<< HEAD
=======
li > div {
  margin-left: 10px;
  display: inline-block;
  font-size: 20px;
}
>>>>>>> master
